<div *ngIf="!loggedIn">
    <form>
       <mat-form-field>
           <mat-label>Username:</mat-label>
           <input matInput [(ngModel)]="userName" name="userName"/>
       </mat-form-field>
       <mat-form-field>
          <mat-label>Password:</mat-label>
          <input matInput [(ngModel)]="passWord" name="passWord"/>
       </mat-form-field>
       <button mat-raised-button (click)="login()">Login</button>
   </form>
    <div *ngIf="loginFailed"> 
       your username or password is incorrect!
    </div>
</div>

<div *ngIf="loggedIn">
  <h1>Welcome {{profile.fname}}!</h1>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-list>
            <mat-list-item><a routerLink="/profile" routerLinkActive="active">Profile</a></mat-list-item>
            <mat-list-item><a routerLink="/wishList" routerLinkActive="active">WishList</a></mat-list-item>
          </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>