<mat-list>
  <mat-list-item>
    <span>Name:</span>
    <span>{{profile.fname}} {{profile.lname}}</span>
  </mat-list-item>
  <mat-list-item>
      <span>Gender:</span>
      <span>{{profile.gender}}</span>
  </mat-list-item>
  <mat-list-item>
      <span>Date Of Birth:</span>
      <span>{{profile.dob}}</span>
  </mat-list-item>
  <mat-list-item>
      <span>Status:</span>
      <span>{{profile.status}}</span>
  </mat-list-item>
  <mat-list-item>
      <span>Nationality:</span>
      <span>{{profile.nationality}}</span>
  </mat-list-item>
  <mat-list-item>
      <span>Residence:</span>
      <span>{{profile.residence}}</span>
  </mat-list-item>
</mat-list>
